

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Reclamations/</span> All</h4>

    <div class="card">
      <h2 style=" margin-left: 20px; margin-top: 20px; color: #392c7c  ">tous les reclamations</h2>
      <div class="containerfiltersearch">
        <div class="input-block select-form mb-1">
          <select class="form-select select" [(ngModel)]="selectedStatus" (change)="filterReclamations()">
            <option value="">All</option>
            <option value="en attente">En attente</option>
            <option value="traiter">traiter</option>
            <option value="refuser">refuser</option>
          </select>
        </div>
        <div class="card search-widget blog-search blog-widget">
          <div class="card-body">
            <form (submit)="searchReclamations()" class="search-form">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchKeyword" name="keyword" placeholder="Search..." class="form-control">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table" >
          <thead>
          <tr>
            <th>id utilisateur</th>
            <th>reclamation id </th>
            <th> titre</th>

            <th>status</th>


            <th>actions</th>
          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
          <tr *ngFor="let u of filteredReclamations">
            <td >
              <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{u.idUtilisateur}}</strong>
            </td>
            <td >
              {{u.idReclamation}}
            </td>
            <td >
              {{u.titre}}
            </td>

            <td >
              {{u.status }}
            </td>





            <td >
              <button type="button" class="btn btn-outline-info" (click)="goToDetails(u.idReclamation)">details</button>
            </td>
            <td *ngIf="u.status == 'en attente'">
              <button type="button" class="btn btn-outline-primary" (click)=" changereclamationstatus(u.idReclamation)" >accepter</button>
            </td>
            <td *ngIf="u.status == 'en attente'">
              <button type="button" class="btn btn-outline-danger" (click)=" refuserreclamation(u.idReclamation,u.idUtilisateur)" >refuser</button>
            </td>



          </tr>


          </tbody>
        </table>
        <div class="alert alert-primary" role="alert" *ngIf="message">
          <div class="success-message">{{ message }}</div>
        </div>
      </div>
    </div>
  </div>
